
  <body data-spy="scroll" data-target="#navigation" data-offset="71">

    <!-- Preloader starts -->
    <div class="preloader">
      <div class="browser-screen-loading-content">
        <div class="loading-dots dark-gray">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
        <p class="loading-text">Chargement</p>
      </div>
    </div>
    <!-- Preloader Ends -->

    <!-- Header Section Starts-->
    <header>
     {{ include('partials/navbar.html.twig') }}
    </header>