<form method="post" action="{{ path('admin_booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Voulez-vous vraiement supprimer ce RDV de votre liste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-alt me-1"></i>Supprimer</button>
</form>
