<form method="post" action="{{ path('customer_booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Voulez-vous vraiement supprimer ce RDV?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-sm btn-alt-danger px-3 me-1 my-1"><i class="fa fa-times me-1"></i>Annuler</button>
</form>
