<form method="post" action="{{ path('admin_salon_delete', {'id': salon.id}) }}" onsubmit="return confirm('Voulez-vous vraiement supprimer cet établissement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salon.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash-alt me-1"></i>Supprimer</button>
</form>
